
/* Add your profile image here */
.Photo{
    background-image: url('../../src/components/assets/images/IMG_1560.png');
}
/* Projects Photo */
.project1{
    background-image: url('../components/assets/cards/0.png');
    cursor: none;    
}
.project2{
    background-image: url('../components/assets/cards/reactportfolio.png');
    cursor: none;
}
.project3{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+three');
    cursor: none;
}
.project4{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+four');
    cursor: none;
}
.project5{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+five');
    cursor: none;
}
.project6{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+six');
    cursor: none;
}
.gtp{
    background-image: url('../components/assets/images/android-chrome-192x192.png');
}
